extends layout

block content
    .container
    h1.mt-5.mb-3 ✈️ Viajes Express
    .row
        .col-md-8
            .card
                img.card-img-top(src="/images/beach_bikes_LIL_9205.jpg", alt="...")
                .card-body
                    h5.card-title #{producto}
                    p.card-text Visita el lugar de tus sueños y vive una experiencia única.
                     
